/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 * SPDX-License-Identifier: BSD-3-Clause
*/

#include <bindings/qcom,audio-ext-clk.h>
#include <dt-bindings/clock/qcom,shikra-audiocorecc.h>

&soc {
	lpass_cdc: lpass-cdc {
		compatible = "qcom,lpass-cdc";
	};

	shikra_snd: sound {
		compatible = "qcom,shikra-asoc-snd";
		qcom,mi2s-audio-intf = <0>;
		qcom,tdm-audio-intf = <0>;
		qcom,wcn-bt = <0>;
		qcom,ext-disp-audio-rx = <0>;
	};
};

#include "shikra-audio-overlay.dtsi"

&shikra_snd{
	qcom,model = "shikra-cpu-snd-card";
	qcom,msm_audio_ssr_devs = <&lpass_cdc>;
};

&lpass_clk_rsc {
	clocks = <&audiocorecc AUDIO_CORE_CC_RX_MCLK_CLK>,
				<&audiocorecc AUDIO_CORE_CC_TX_MCLK_CLK>;
};

&aliases {
	swr0 = "/soc/lpass-cdc/rx-macro@A040000/rx_swr_master";
	swr1 = "/soc/lpass-cdc/va-macro@A078000/va_swr_master";
};
