/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 * SPDX-License-Identifier: BSD-3-Clause
*/

/dts-v1/;
/plugin/;

#include "shikra-audio-qcs.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Shikra QCS";
	compatible = "qcom,shikra";
	qcom,msm-id = <707 0x10000>, <707 0x20000>, <708 0x10000>,
	        <708 0x20000>;
	qcom,board-id = <0 0>;  //@todo
};
